[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "psutil>=7.1.3",
    "pytest>=9.0.2",
    "slowapi>=0.1.9",
]
